* {
    margin: 0;
    padding: 0;
}

h2,h3 {
    color: #FFC107;
    font-family: Roboto, sans-serif;
    font-size: 96px;

}
h3 {
    float: right;
    margin-top: -70px;
}
.header {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.text {
    width: 900px;
    margin: 0 auto;
    margin-top: 150px;
}

.header img {
    width: 653px;
    margin-top: -100px;
    transform: rotate(15deg);
}
p {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #3F3D56;
}
.list {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
}
li {
    font-size: 24px;
    font-family: Robot, sans-serif;
    color: #3F3D56;
    list-style: none;
}

li:before {
    color: #FFC107;
    content: "\2022";
    margin-right: 10px;
    font-size: 1.2em;
    line-height: 1em;
    position: relative;
}

li a {
    color: #3F3D56;
}